.knuthOnTreesPage {
  box-sizing: border-box;
  line-height: 1.5;
  margin: auto;
  max-width: 800px;
  padding: 1em;

  & textarea {
    width: 100%;
  }
}

.tree {
  max-width: 100%;
  overflow-x: auto;

  & .node {
    transition: 0.3s filter;
  }
}

.exampleText,
.exampleJSON {
  max-height: 50vh;
  overflow-y: auto;
}

.trees {
  display: flex;
  flex-direction: row;
}
