.navbar {
  align-items: center;
  box-shadow: 1px 1px 4px var(--foreground);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0.5em;
}

.navbar,
footer {
  flex: none;
}

footer {
  box-shadow: 1px 1px 4px var(--foreground);
  padding: 0.5em;
  text-align: right;
}

.portraitImage {
  border-radius: 50%;
  margin-left: auto;
}

.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.settingsPrompt {
  font-size: 1em;
}
