@import '@prospero-library/web/styles/themes/BookTheme.css';
@import '@prospero-library/web/styles/prospero.css';

.prosperoHeader {
  text-align: center;
}

.bookTitle,
.bookAuthor {
  text-align: center;
}

@layer prospero-override {
  .prosperoBook {
    .book {
      color: var(--foreground);
    }

    .page {
      background-color: var(--background);
    }

    .book,
    .page {
      border-color: var(--foreground);
    }
  }
}

@layer prospero-theme, prospero-override;
