.gridworldRunner {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .cell {
    align-items: center;
    border: 1px solid var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    position: relative;
  }

  .marker {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .qValue {
    font-size: 0.75em;
    position: absolute;

    &.up {
      left: 50%;
      top: 0.5em;
      transform: translateX(-50%);
    }

    &.down {
      bottom: 0.5em;
      left: 50%;
      transform: translateX(-50%);
    }

    &.left {
      left: 0.5em;
      top: 50%;
      transform: translateY(-50%);
    }

    &.right {
      right: 0.5em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
